/* modal.css */

.modal {
    display: none;
  }
  
  .modal.block {
    display: block;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-container {
    
    animation: zoomIn 2s ease-in-out forwards;
  }
  
  .modal-content {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes zoomIn {
    from {
      transform: translateZ(-20rem)
    }
    to {
      transform: translateZ(40px)
    }
  }
  
  .modal-close {
    /* Your close button styles */
  }
  